:root {
    --bg-color: #EDEFF0;
    --page-width: 60em;
    --sidebar-width: 20%;
    --header-left-col: auto;
}

body {
    max-width: var(--page-width);
    background-color: var(--bg-color);
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto var(--sidebar-width);
    grid-template-rows: auto auto auto auto;
}

body > header {
    grid-column: span 2;
    /* grid-row: 1 / 1; */
    display: grid;
    grid-template-columns: var(--header-left-col) auto;
    grid-template-rows: auto auto;
    grid-gap: 0 0;
}

body > header h1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    align-self: center;
}

body > header h2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    align-self: center;
}

body > header div#signup {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    text-align: right;
    justify-self: end;
    align-self: center;
    margin-right: 1em;
}

aside {
    grid-column-start: 2;
    grid-row: span 3;
}



nav#menu ul {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 100%;
}

nav#menu ul li {
    flex-grow: 1;
}

section#news article footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
}

.author {
    flex-grow: 1;
}

/* I had this and more but all of it is unnecessary */
/* 
nav#menu {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

section#news {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

footer {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}*/