@media screen and (max-width: 60em) {
    body {
        grid-template-columns: auto;
    }

    body > header {
        grid-column: span 1;
    }

    aside {
        display: none;
    }
}

@media screen and (max-width: 30em) {
    :root {
        --header-left-col: 0;
    }

    body {
        grid-template-columns: auto;
    }

    body > header {
        grid-column: span 1;
    }

    aside {
        display: none;
    }

    body > header div#signup {
        text-align: left;
        justify-self: start;
        align-self: center;
    }

    body > header h2 {
        display: none;
    }

    nav#menu label {
        display: block;
        font-size: 0;
    }

    nav#menu label:before {
        content: "\2630";
        font-size: 40px;
        color: white;
    }

    nav#menu input:checked + label:before {
        content: "\2715";
    }

    nav#menu ul {
        /* This is important to be auto and not 100%! */
        height: auto;
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;
        transition: max-height 0.5s;
    }
    
    nav#menu ul li {
        border-top-width: 0;
        border-left-width: 5px;
    }
    
    nav#menu input:checked ~ ul {
        max-height: 20em;
    }
}