@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

:root {
    --main-color-dark: #2A2F33;
    --main-color-1: #046DD5;
    --main-color-2: #F4655F;

    --section-color-1: #E1493E;
    --section-color-2: #8ABA56;
    --section-color-3: #5B4282;
    --section-color-4: #FF8932;
    --section-color-5: #19B6E9;
    --section-color-6: #E84C8B;
}

/* Temporary disable */
nav#menu input, nav#menu label {
    display: none;
}

nav#menu {
    background-color: var(--main-color-dark);
}

body > header {
    background-color: var(--main-color-1);
    color: white;
    font-family: 'Montserrat';
    padding: 1em;
    margin: 0;
}

body > header a {
    color: white;
    text-decoration: none;
}

body > header > * {
    margin: 0;
    padding: 0;
}

body > header > h1 a {
    font-size: 28px;
}

body > header > h2 a {
    font-size: 15px;
}

#signup > a {
    font-size: 13px;
    font-weight: 500;
}

nav > ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

nav > ul > li > a {
    color: black;
    text-decoration: none;
}

nav > ul > li {
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
}

#signup a:first-child::after {
    content: '';
    margin: 0 1em;
    border-right: 1px solid white;
}

nav > ul > li {
    border-width: 0 0;
    border-top-width: 5px;
    border-style: solid;
    border-color: black;
    padding: 1em;
}

nav > ul > li:nth-child(1) {
    border-color: var(--section-color-1);
}

nav > ul > li:nth-child(2) {
    border-color: var(--section-color-2);
}

nav > ul > li:nth-child(3) {
    border-color: var(--section-color-3);
}

nav > ul > li:nth-child(4) {
    border-color: var(--section-color-4);
}

nav > ul > li:nth-child(5) {
    border-color: var(--section-color-5);
}

nav > ul > li:nth-child(6) {
    border-color: var(--section-color-6);
}

aside#related {
    background-color: var(--main-color-dark);
    padding: 1em;
}

aside#related a {
    font-family: 'Montserrat';
    color: white;
}

aside#related p {
    font-family: Georgia;
    color: white;
}

aside#related a {
    text-decoration: none;
}

section#news header {
    position: absolute;
    top: 0.5em;
    left: 1.5em;
    max-width: 14em;
}

section#news header a {
    text-decoration: none;
    color: white;
    text-shadow: 7px 4.5px 2px black;
    font-family: Georgia;
}

section#news img {
    width: 100%;
}

section#news {
    margin-top: 1em;
}

section#news article:first-child {
    margin-top: 0;
}

section#news article {
    position: relative;
    background-color: white;
    margin-top: 1em;
    margin-right: 1em;
}

section#news article p {
    font-family: Georgia;
    margin-left: 1em;
    margin-right: 1em;
}

section#news article p:first-of-type::first-letter {
    font-weight: bold;
    font-size: 200%;
}

section#news article footer {
    background-color: var(--main-color-2);
    padding: 1em;
    color: white;
    font-family: Georgia;
}

section#news article footer a {
    color: white;
}

.date {
    margin: 0 1em;
}

.author::before {
    content: 'By ';
}

.comments::after {
    content: ' comments';
}

footer:last-of-type {
    background-color: var(--main-color-dark);
    color: white;
    margin-top: 1em;
    padding: 0.5em;
    margin-right: 1em;
}